.MemItem__wrapper {
    list-style: none;
    padding: 0;
    margin: 0 0 50px;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.MemItem__image {
    width: 400px;
    height: auto;
    
}


.MemItem__name {
    color: solid blue;
    font-weight: 600;
}



.MemItem_upVotes {
    display:table-cell;
    width: 50%;
}

.MemItem__downVotes {
    display: table-cell;
    width: 50%;
    
}

.MemItem__Votes {
    display: table-row-group;
    width: 400px;
}